Our projects is to provide a Swiss platform for Collaborative journalism in the public interest.<br>



<legend> Journalists </legend>
<div class="row-fluid">
    <div class="span3 about">
		<img src="/images/placeholder.jpg">
      	<center><h4>Journalist 1</h4></center>
		<center><i>about the journalist</i></center>
    </div>
    <div class="span3 about">
		<img src="/images/placeholder.jpg">
      	<center><h4>Journalist 2</h4></center>
		<center><i>about the journalist</i></center>
    </div>
    <div class="span3 about">
		<img src="/images/placeholder.jpg">
      	<center><h4>Journalist 3</h4></center>
		<center><i>about the journalist</i></center>
    </div>
</div>


<legend> Partners </legend>
<div class="row-fluid">
    <div class="span3 about">
		<img src="/images/placeholder.jpg">
      	<center><h4>Organisation 1</h4></center>
		<center><i>about the organisation</i></center>
    </div>
    <div class="span3 about">
		<img src="/images/placeholder.jpg">
      	<center><h4>Organisation 2</h4></center>
		<center><i>about the organisation</i></center>
    </div>
    <div class="span3 about">
		<img src="/images/placeholder.jpg">
      	<center><h4>Organisation 3</h4></center>
		<center><i>about the organisation</i></center>
    </div>
</div>


