<style>
	#inputTitle,#inputUrl,#inputBody{
		width: 90%;
	}
</style>
<legend>Start a new investigation</legend>

<form class="form-horizontal" action="/en/stories/save/<{$story.id}>" method="POST">

  <div class="control-group">
    <label class="control-label" for="inputTitle">Title</label>
    <div class="controls">
      <input type="text" id="inputTitle" name="title" value="<{$story.title}>">
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="inputUrl">Url for image</label>
    <div class="controls">
      <input type="text" id="inputUrl" name="url" value="<{$story.url}>">
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="inputBody">&nbsp;</label>
    <div class="controls">
      <textarea type="text" class="ckeditor" id="inputBody" name="body" placeholder="Url"><{$story.body}></textarea>
    </div>
  </div>



  <div class="control-group">
    <div class="controls">
      <button type="submit" class="btn-primary">Submit</button>
    </div>
  </div>
</form>



<script type="text/javascript" src="/js/ckeditor/ckeditor.js"></script>
