<script>
	function editStory(id){
		self.location="/en/stories/edit/"+id;
	}
	
	function share(){
		url="https://www.facebook.com/sharer/sharer.php?u=http://<{$smarty.server.HTTP_HOST}><{$smarty.server.REQUEST_URI}>" ;
		window.open(url);
	}
</script>
<style>
	h2 {
		font-size: 12pt;
	}
	#inputBody {
		width: 100%;
	}
</style>
<div class="pull-right">
 	<button type="button" onclick="share()" class="btn btn-default btn-info">Share</button>
 	<button type="button" class="btn btn-default btn-primary">Join discussion</button>
 	<button type="button" class="btn btn-default btn-primary btn-success">Vote</button>
	  	<button type="button" onclick="donate()" class="btn btn-swisspart">Donate</button>
		<!-- <button onclick="editStory(<{$story.id}>)" class="btn btn-danger ">Edit</button> -->
</div>

<div class="row span8">
    <div>
		<p><{$story.body}></p>
	</div>
	
	<form class="form">
	  <div class="control-group">
	    <label class="control-label" for="inputBody"><b>Join discussion</b></label>
	    <div class="controls">
	      <textarea type="text"  id="inputBody" placeholder="your reflections"></textarea>
	    </div>
	  </div>
	  <div class="control-group">
	    <div class="controls">
	      <button type="submit" class="btn btn-swisspart pull-right">Contribute</button>
	    </div>
	  </div>

	</form>

	
</div>
