<style>
	#inputTitle,#inputUrl,#inputBody{
		width: 99%;
	}
	
	.question {
		font-weight: bold;
		font-size: 12pt;
	}

	.answer {
		margin-top: 10px;
		font-weight: normal;
		font-size: 10pt;
		font-style: oblique;
		border-bottom: 1px solid silver;
		margin-bottom: 10px;
	}

</style>

<div class="row">
	<form class="form">
	  <div class="control-group">
	    <label class="control-label" for="inputBody">Please ask your question.</label>
	    <div class="controls">
	      <textarea type="text"  id="inputBody" placeholder=""></textarea>
	    </div>
	  </div>

	  <div class="control-group">
	    <div class="controls">
	      <button type="submit" class="btn btn-swisspart pull-right">Ask</button>
	    </div>
	  </div>
	</form>

	<h3>Frequently asked questions</h3>
</div>


<div class="row">
	<div class="question">How do you provide security to the users of your system?</div>
	<div class="answer"><p>
		Our systems are managed by a qualified team and ours systems are installed in a secured datacenter.
		For the connection between the client and server we use 2048-bit SSL encryption.
		</p>
		</div>
</div>

<div class="row">
	<div class="question">Will I be  tracked by the DIA / MSA  while providing you confidential information?</div>
	<div class="answer"><p>
		
		Our team can help you use softwares like TOR and filesharing systems like Darknet which will help you to protect your identity while providing us informations.
		
		</p>
		</div>
</div>